<form asp-controller="Auth" asp-action="ExternalSignIn" method="post" class="external-account" novalidate>
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

    <button type="submit" name="provider" value="Google" class="btn-external btn-google">Sign In with Google</button>
    <button type="submit" name="provider" value="Facebook" class="btn-external btn-facebook">Sign In with Facebook</button>
    <button type="submit" name="provider" value="GitHub" class="btn-external btn-github">Sign In with GitHub</button>
    <button type="submit" name="provider" value="Microsoft" class="btn-external btn-microsoft">Sign In with Microsoft</button>
</form>