@{
    ViewData["Title"] = "Clients";
}

@* @await Html.PartialAsync("Partials/Sections/_AddClientModal") *@
<partial name="Partials/Sections/Clients/_AddClientModal"/>
<partial name="Partials/Sections/Clients/_EditClientModal"/>

<section id="clients">

    <header class="main-header">
        <h2>Clients</h2>
        <button type="button" data-modal="true" data-target="#addClientModal" class="btn btn-add btn-blue">Add Client</button>
    </header>

    <div class="surface">
        @* @await Html.PartialAsync("Partials/Sections/_ClientList") *@
        <partial name="Partials/Sections/Clients/_ClientList"/>
    </div>

</section>