<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@(string.IsNullOrEmpty(ViewData["Title"] as String) ? "Alpha Portal" : @ViewData["Title"] + " - Alpha Portal")</title>
    <script type="importmap"></script>
    <partial name="_LibsTop"/>
</head>
<body>

    <div class="wrapper-portal">
        
        <div class="sidebar">
            <div class="logotype">
                <partial name="Partials/Components/_AlphaLogoType"/>
            </div>
            
            <partial name="Partials/Components/_NavLinks"/>
        </div>

        <div class="header">
            <div class="change-the-search-field"></div>
            <div class="icons">
                <partial name="Partials/_HeaderPartial"/>
            </div>
        </div>

        <main class="main">
            @RenderBody()
        </main>
    </div>

    <partial name="_LibsBottom"/>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>