<div id="clientItemDropdown-@Model.Id" class="client-dropdown-menu">
    <div class="dropdown-menu-container">
        <button type="button" data-modal="true" data-target="#editClientModal" class="btn-edit">
            <i class="fa-duotone fa-solid fa-pen-line"></i>
            <span>Edit</span>
        </button>
    
        <div class="or-separator"><span>or</span></div>
    
        <form method="post" asp-controller="Clients" asp-action="DeleteClient">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn-delete">
                <i class="fa-duotone fa-trash"></i>
                <span>Delete Client</span>
            </button>
        </form>
    </div>
</div>