@model IEnumerable<User>

<div class="members-list">

    @if (Model != null)
    {
        @foreach (var member in Model)
        {
            <partial name="Partials/Sections/Members/_MemberListItem" model="member"/>
        }
    }

</div>
