.card {
    color: var(--card-text-color);
    border: 1px solid var(--card-border-color);
    background-color: var(--blue-semilight);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: var(--border-radius-m);
}

.member {
    text-align: center;


    .avatar {

    }

    .name {

    }

    .job-title {
        background-color: var(--white-400);
        border-radius: var(--border-radius-m);
        display: inline-block;
        align-self: center;
        padding: .2rem .5rem;
        margin: .5rem 0 1.5rem;
        max-width: max-content;
    }

    .email {

    }

    .phone-number {

    }
}

