<a class="btn btn-gray" href="https://youtu.be/8T3kr7hFvuM?si=qbeEXC83OUgcB-qb">VIDEO LINK (FRONT-END TUTORIAL)</a>
<a class="btn btn-gray" href="https://youtu.be/hKuZVyuS_Xc?si=rEpNmXCNHfqCu9Dy">VIDEO LINK (BACK-END TUTORIAL)</a>
<a class="btn btn-gray" href="https://youtu.be/rA-HkhSjEv8?si=StvIfwK-MSrl0atT">VIDEO LINK (PUBLISH TO AZURE)</a>