@model Member
@{
    Layout = "_CleanLayout";
    ViewData["Title"] = "Login";
}

<div id="login" class="center-screen">
    <div class="surface">
        <form asp-action="Login" asp-controller="Auth" method="post" novalidate>
            
            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="field-group">
                    <input asp-for="Email"/>
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
        </form>
    </div>
    
    
</div>