@model ClientsViewModel
@{
    ViewData["Title"] = "Clients";
}

@* @await Html.PartialAsync("Partials/Sections/_AddClientModal") *@
<partial name="Partials/Sections/Clients/_AddClientModal" model="Model.AddClient"/>
<partial name="Partials/Sections/Clients/_EditClientModal" model="Model.EditClient"/>

<section id="clients">
    
    <header class="main-header">
        <h2>Clients</h2>
        <button type="button" data-modal="true" data-target="#addClientModal" class="btn btn-add btn-blue">Add Client</button>
    </header>

    <div class="surface">
        @* @await Html.PartialAsync("Partials/Sections/_ClientList") *@
        <partial name="Partials/Sections/Clients/_ClientList" model="Model.Clients"/>
    </div>

</section>

<script src="~/js/modals.js" asp-append-version="true"></script>