#projects[b-fg8gnyfzvy] {
    
    header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }
}