@model ProjectsViewModel
@{
    ViewData["Title"] = "Projects";
}

@* @await Html.PartialAsync("Partials/Sections/_AddProjectModal") *@
<partial name="Partials/Sections/Projects/_AddProjectModal" model="Model.AddProject" />
<partial name="Partials/Sections/Projects/_EditProjectModal" model="Model.EditProject" />

<section id="projects">
    
    <header class="main-header">
        <h2>Projects</h2>
        <button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-add btn-blue">Add Project</button>
    </header>

    <div class="project-grid">
        <div class="project-grid-item">
            <div class="surface">
                <partial name="Partials/Sections/Projects/_ProjectList" model="Model.Projects" />
                @* @await Html.PartialAsync("Partials/Sections/_ProjectList") *@
            </div>
        </div>
    </div>

</section>

<script src="~/js/modals.js" asp-append-version="true"></script>