<div class="project-list">
    <table>
        <thead>
        <tr>
            <th class="project-check"><input type="checkbox" /></th>
            <th class="project-info">Client Name</th>
            <th class="project-location">Location</th>
            <th class="project-phone">Phone</th>
            <th class="project-date">Date</th>
            <th class="project-status">Status</th>
            <th class="project-actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="project-check"><input type="checkbox" /></th>
            <th class="project-info">
                <img class="project-image" src="~/images/avatars/avatar-male-001.svg" alt="" />
                <div class="project-name">EPN Sverige AB</div>
                <div class="project-email">info@domain.com</div>
            </th>
            <th class="project-location">Stockholm, Sweden</th>
            <th class="project-phone">+46 08 121 475 50</th>
            <th class="project-date">25-03-12</th>
            <th class="project-status">
                <div class="badge success">
                    active
                </div>
            </th>
            <th class="project-actions">
                <i class="fa-regular fa-ellipsis" data-modal="true" data-target="#editProjectModal"></i>
            </th>
        </tr>
        </tbody>
    </table>
</div>