@model IEnumerable<ProjectListItemViewModel>

<div class="members-list">

    @if (Model != null)
    {
        @foreach (var project in Model)
        {
            <partial name="Partials/Sections/Projects/_ProjectListItem" model="project"/>
        }
    }

</div>