@model MemberUpdateForm

<div id="editMemberModal" class="the-local-modal">
    <div class="with-modal-content">

        <div class="and-a-modal-header">
            <h3>Edit Member</h3>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>

        <form novalidate method="post" asp-action="EditMember" asp-controller="Members">
            
            <input asp-for="Id" readonly type="hidden"/>
            
            <div class="image-previewer circle">
                <img src="" class="image-preview" alt="" />
                <input asp-for="MemberImage" accept="image/*" class="hide" />
            </div>
            
            <div class="form-group">
                <label asp-for="MemberName"></label>
                <div class="field-group">
                    <input asp-for="MemberName" />
                    <span asp-validation-for="MemberName"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="field-group">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="Location"></label>
                <div class="field-group">
                    <input asp-for="Location" />
                    <span asp-validation-for="Location"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <div class="field-group">
                    <input asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
            
            <button type="submit" class="btn btn-submit btn-blue">Create</button>
        </form>

    </div>
</div>