@model EditClientForm

<div id="editClientModal" class="the-local-modal">
    <div class="with-modal-content">

        <div class="and-a-modal-header">
            <h3>Edit Client</h3>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>

        <form novalidate method="post" asp-action="EditClient" asp-controller="Clients">

            <input asp-for="Id" readonly type="hidden"/>

            <div class="image-previewer circle">
                <img src="" class="image-preview" alt="" />
                <input asp-for="ClientImage" accept="image/*" class="hide" />
            </div>

            <div class="form-group">
                <label asp-for="ClientName"></label>
                <div class="field-group">
                    <input asp-for="ClientName" />
                    <span asp-validation-for="ClientName"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="field-group">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Location"></label>
                <div class="field-group">
                    <input asp-for="Location" />
                    <span asp-validation-for="Location"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <div class="field-group">
                    <input asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-submit btn-blue">Create</button>
        </form>

    </div>
</div>

@await Html.PartialAsync("_ValidationScripts")