@model MembersViewModel
@{
    ViewData["Title"] = "Team Members";
}

@* @await Html.PartialAsync("Partials/Sections/_AddMemberModal") *@
<partial name="Partials/Sections/Members/_AddMemberModal" model="Model.AddMember"/>
<partial name="Partials/Sections/Members/_EditMemberModal" model="Model.EditMember"/>

<section id="team-members">
    
    <header class="main-header">
        <h2>@ViewData["Title"]</h2>
        <button type="button" data-modal="true" data-target="#addMemberModal" class="btn btn-add btn-blue">Add Member</button>
    </header>

    @* @await Html.PartialAsync("Partials/Sections/_MemberList") *@
    <div class="main-body">
        <partial name="Partials/Sections/Members/_MemberList" model="Model.Members"/>
    </div>

</section>

<script src="~/js/modals.js" asp-append-version="true"></script>