@model UserRegistrationViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="card bg-white">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
    </div>
    
    <form asp-action=""></form>
</div>